html, body {
	margin: 0;
	padding: 0;
}

.container {
	width: 500px;
	height: 500px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
	box-shadow: 0 0 5px 1px #000;
}

canvas {
	width: 450px;
	height: 450px;
	margin: 25px;
}